Pandas - Seriler

pip install pandas

In [1]:
import pandas as pd

In [2]:
seri = pd.Series()

seri

C:\Users\TCAYSAYDIN\AppData\Local\Temp\ipykernel_23492\797261446.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  seri = pd.Series()

Series([], dtype: float64)

In [4]:
seri = pd.Series(["Aysel", "Sevda", "Sude", "Duygu"])

seri

0    Aysel
1    Sevda
2     Sude
3    Duygu
dtype: object

In [5]:
seri = pd.Series(["Aysel", "Sevda", "Sude", "Duygu"], [23, 45, 34, 67])

seri

23    Aysel
45    Sevda
34     Sude
67    Duygu
dtype: object

In [6]:
seri.index

Int64Index([23, 45, 34, 67], dtype='int64')

In [7]:
seri.values

array(['Aysel', 'Sevda', 'Sude', 'Duygu'], dtype=object)

In [10]:
if 67 in seri:
    print("Var")

Var

In [12]:
#List Comprehension
seri = pd.Series(range(2, 36, 6), [i for i in "abcdef"])

seri

a     2
b     8
c    14
d    20
e    26
f    32
dtype: int64

Seri Elemanlarına Erişim

In [15]:
languages = pd.Series(["Kotlin", "Java", "Python", "JS", "PHP"], ["lang1", "lang2", "lang3", "lang4", "lang5"])

languages

lang1    Kotlin
lang2      Java
lang3    Python
lang4        JS
lang5       PHP
dtype: object

In [16]:
languages["lang3"]

'Python'

In [18]:
languages[["lang2", "lang4"]]

lang2    Java
lang4      JS
dtype: object

In [19]:
languages["lang2":"lang4"]

lang2      Java
lang3    Python
lang4        JS
dtype: object

In [20]:
movies = {
    1990: "Friends",
    1991: "Person of Interest",
    1992: "Heartland",
    1993: "Doctor Who",
    1994: "Merlin"
}

movies_series = pd.Series(movies.values(), movies.keys())

movies_series

1990               Friends
1991    Person of Interest
1992             Heartland
1993            Doctor Who
1994                Merlin
dtype: object

In [23]:
movies_series[movies_series.index > 1992]

1993    Doctor Who
1994        Merlin
dtype: object

In [24]:
movies_series[(movies_series.index >= 1992) & (movies_series.index < 1994)]

1992     Heartland
1993    Doctor Who
dtype: object